{% assign experience = site.data.experiences[page.namespace] %}
{% assign experience_title = experience.title[site.lang] %}
{% assign experience_subtitle = experience.subtitle[site.lang] %}
{% assign experience_author = site.data.members[experience.author] %}
{% assign experience_url = site.url | append: page.url | cgi_escape %}

<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="Canvas js-canvas">
      {% include cookies.html %}

      <div class="Experience Block">
        <div class="Experience-map js-map"></div>

        {% include header.html %}

        <div class="Breadcrumb">
          <ul class="Breadcrumb-inner">
            <li class="Breadcrumb-item"><a href="{% tl experiences %}" class="Breadcrumb-link">{% t experiences.title %}</a></li>
            <li class="Breadcrumb-item Breadcrumb-item--separator">></li>
            <li class="Breadcrumb-item">{{ experience_title }}</li>
          </ul>
        </div>

        <div class="Experience-wrapper">
          <div class="Experience-image">
            <img src="{{ experience.image }}" class="Experience-imageItem" alt="{% t experiences.title %}" title="{% t experiences.title %}"/>
          </div>

          <div class="Experience-content Text--withShadow Block-content">
            <h4 class="Color--light Text Text--uppercase Text--med">{{ experience_subtitle }}</h4>
            <h2 class="Color--light Text Text--giant Text--strong">{{ experience_title }}</h2>
            <div class="Text Color--light Experience-author">
              {{ experience_author[0] }}
              <a href="{% tl {{ experience.author }} %}" class="Experience-authorLink Text--med Color--light">
                <img class="Experience-authorImage" src="/img/members/{{ experience_author.image }}" title="{{ experience_author.complete_name }}" alt="{{ experience_author.complete_name }}" />
                {{ experience_author.complete_name }}
              </a>
            </div>

            <div class="Experience-text Text Text--large Color--light Paragraph Paragraph--lefty u-tSpace--xl">
              {{ content }}
            </div>

            {% if experience.video %}
              <button class="Color--light u-tSpace--m js-playVideo">
                <i class="fa fa-youtube-play fa-2x"></i>
              </button>
            {% endif %}
          </div>
        </div>

        {% if experience.instagram_tag %}
          <div class="Breadcrumb">
            <ul class="Breadcrumb-inner">
              <li class="Breadcrumb-item u-rSpace--xl">
                <i class="fa fa-instagram u-rSpace"></i>
                INSTAGRAM
              </li>
              <li class="Breadcrumb-item">
                <a href="https://www.instagram.com/explore/tags/{{ experience.instagram_tag }}" target="_blank" class="Breadcrumb-link">
                  #{{ experience.instagram_tag }}
                </a>
              </li>
            </ul>
          </div>
          <div id="instafeed" class="Experience-photos">
            <i class="fa fa-circle-o-notch fa-2x fa-spin Color--emphasis Experience-photosLoader js-instagramLoader"></i>
          </div>
        {% endif %}

      {% include footer.html %}
    </div>

    {% include analytics.html %}
    <script src="/js/experience.js"></script>
    <script>
      {% if experience.zoom %}
        var zoom = {{ experience.zoom }};
      {% endif %}
      {% if experience.center %}
        var center = {{ experience.center | join: "," | prepend: "[" | append: "]"}};
      {% endif %}
      var experienceCountries = [
        {% for country in experience.countries %}
          "{{ country }}"
          {% if forloop.last == false %}
            ,
          {% endif %}
        {% endfor %}
      ];
      {% if experience.instagram_tag %}
        var instagramTag = '{{ experience.instagram_tag }}';
      {% endif %}
      {% if experience.video %}
        var videoURL = '{{ experience.video }}';
      {% endif %}
    </script>
  </body>
</html>
