<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="Member">
      <div class="Member-map" id="js-map"></div>
      
      {% include header.html %}
      
      <div class="Breadcrumb">
        <ul class="Breadcrumb-inner">
          <li class="Breadcrumb-item"><a href="{% tl team {{lang}} %}" class="Breadcrumb-link">{% t team.title %}</a></li>
          <li class="Breadcrumb-item Breadcrumb-item--separator">></li>
          <li class="Breadcrumb-item"><a href="{% tl {{ page.namespace }} {{ lang }} %}" class="Breadcrumb-link">{{page.member_name}}</a></li>
        </ul>
      </div>

      <div class="Member-content">
        <div class="Member-contentInner">
          <div class="Member-info u-tSpace--xxl ">
            <div class="Member-image">
              <img src="/img/members/{{ page.member_image }}" alt="{{ page.member_name }}" title="{{ page.member_name }}" />
            </div>
            <div class="Member-desc">
              <h4 class="Color--paragraph Text Text--uppercase Text--med">{% t {{page.role}} %}</h4>
              <h2 class="Color--main Text Text--giant Text--strong">{{ page.member_name }}</h2>
              <ul class="Member-languages u-tSpace">
                {% for language in page.languages %}
                  <li class="Member-language">
                    <span class="flag-icon flag-icon-{{language}}"></span>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <div class="Member-text">{{ content }}</div>
        </div>
      </div>

      <div class="Breadcrumb u-tSpace--xxl">
        <ul class="Breadcrumb-inner">
          <li class="Breadcrumb-item u-rSpace--xl">{% t team.follow.{{page.member_gender}} %}</li>
          
          {% if page.facebook %}
          <li class="Breadcrumb-item u-rSpace--xl">
            <a href="{{ page.facebook }}" target="_blank" class="Breadcrumb-link">
              <i class="fa fa-facebook u-rSpace"></i>Facebook
            </a>
          </li>
          {% endif %}

          {% if page.twitter %}
          <li class="Breadcrumb-item u-rSpace--xl">
            <a href="{{ page.twitter }}" target="_blank" class="Breadcrumb-link">
              <i class="fa fa-twitter u-rSpace"></i>Twitter
            </a>
          </li>
          {% endif %}

          {% if page.instagram %}
          <li class="Breadcrumb-item">
            <a href="{{ page.instagram }}" target="_blank" class="Breadcrumb-link">
              <i class="fa fa-instagram u-rSpace"></i>Instagram
            </a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
    
    {% include last-experience.html %}
    {% include footer.html %}
    {% include analytics.html %}


    <script src="/js/member.js"></script>
    <script>
      var bornLocation = {{ page.born_location | join: "," | prepend: "[" | append: "]"}};
      var visitedCountries = [
        {% for country in page.visited_countries %}
          "{{ country }}"
          {% if forloop.last == false %}
            ,
          {% endif %}
        {% endfor %}
      ];
    </script>
  </body>
</html>