
.Login {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 75vh;
  overflow: hidden;
}
.Login--avatar {
  border-radius: 100%;
}