// Blocks default styles

.Canvas {
  position: relative;
  left: 0;
  transition: left 0.1s linear;

  &:after {
    content: '';
    position: absolute;
    display: none;
    top: 0;
    right: 200px;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(white, 0.8);
    z-index: 100;
  }
}
.Canvas.is-headerVisible {
  left: -200px;
  overflow-x: hidden;
  
  &:after {
    display: block;
  }
}
.Block {
  position: relative;
}
.Block-content {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  max-width: $mainSize;
  margin: 0 auto;
  padding: 0 20px;
  z-index: 1;
}
.Block--spaced {
  padding-top: 50px;
  padding-bottom: 50px;
}

@media (max-width: $mainSize) {
  .Block-content {
    max-width: 100%;
  }
}