// Footer styles

.Footer {
  position: relative;
}
.Footer-inner {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: $mainSize;
  margin: 0 auto;
  padding: 40px 0;
  text-align: center;
  z-index: 2;
}
.Footer-navList {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 0 30px;
  list-style: none;
}
.Footer-navListItem {
  padding: 0 0 0 10px;
}