@import 'vars';

.slider, .slider-slide {
	min-height: 480px;
	max-height: 640px;
	background: #CCC;
}
.slider-control-bottomcenter button {
	color: #FFF!important;
}

$bkgColor: #222;
$br: 3px;

.EmbedVideo {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: flex;
  padding: 5px;
  margin: 0;
  background: $bkgColor;
  border-radius: $br;
  z-index: 10;
}
.EmbedVideo iframe {
  width: 360px;
  height: 190px;
}
.EmbedVideo-button {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 28px;
  background: $bkgColor;
  border-radius: $br;
  color: white;
}
.EmbedVideo-buttonPlay {
	position: fixed;
	right: 20px;
	bottom: 20px;
	width: 40px;
	height: 40px;
	background: #333;
	border: 1px solid #FFF;
	color: #FFF;
	border-radius: 3px;
	z-index: 10;
}

.Home-sliderMamufas {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(to right, rgba(#000, 0.4), rgba(#000, 0));
	z-index: 1;
}
.Home-proposals {
	max-width: 780px;
	margin: 40px auto;
	align-items: center;
}
.Home-proposal {
	border: 1px solid #CCC;
	border-radius: 5px;
	width: 36%;
	background: rgba(#F9F9F9, 0.85);
	box-shadow: 0 0 10px 0 rgba(#000, 0.2);
	z-index: 1;

	&:first-child,
	&:last-child {
		width: 31%;
		height: 90%;
		background: #FFF;
		z-index: 0;
	}

	&:first-child {
		border-radius: 5px 0 0 5px;
		border-right: 0;
	}
	&:last-child {
		border-radius: 0 5px 5px 0;
		border-left: 0;
	}
}
.Home-proposal .l-box {
	padding: 50px 20px;
	text-align: center;
}
.Home-proposalIcon {
	width: 50px;
	margin: 0 auto;
  fill: rgba(#000, 0.3);
}
.Home-proposalIcon--emphasis {
	fill: $mainColor;
}
.Home-banner {
	position: absolute;
	bottom: 100px;
	z-index: 2;
}
.Home-members {
	overflow: hidden;
}
.Home-member {
	position: absolute;
	display: block;
	top: 50%;
	left: 50%;
	z-index: 1;
	opacity: 0;

	img {
		width: 80px;
		height: 80px;
		border: 2px solid $mainColor;
		border-radius: 80%;
	}
}
.is-visible .Home-member--pos0 {
	animation: fadeInFromNone 0.5s forwards;
	transform: translateX(-200px) translateY(-250px);
}
.is-visible .Home-member--pos1 {
	animation: fadeInFromNone 0.5s forwards;
	transform: translateX(20px) translateY(130px);
	animation-delay: 0.2s;
}
.is-visible .Home-member--pos2 {
	animation: fadeInFromNone 0.5s forwards;
	transform: translateX(400px) translateY(-180px);
	animation-delay: 0.4s;
}
.is-visible .Home-member--pos3 {
	animation: fadeInFromNone 0.5s forwards;
	transform: translateX(150px) translateY(-150px);
	animation-delay: 0.6s;
}
.is-visible .Home-member--pos4 {
	animation: fadeInFromNone 0.5s forwards;
	transform: translateX(-450px) translateY(80px);
	animation-delay: 0.8s;
}
.Home-member--small img {
	width: 60px;
	height: 60px;
}
.Home-member--big img {
	width: 100px;
	height: 100px;
}

.Proposals-featuresInfo {
  line-height: 22px;
}
.Proposals-featuresList {}
.Proposals-featuresList .l-box {
  margin: 8px;
}
.Proposals-featureItem {
  position: relative;
  padding: 40px;
  text-align: center;
  background: rgba(#F3F3F3, 0.6);
  border-radius: 2px;
  opacity: 1;
}
.Proposals-featureItem--noBkg {
  background: none;
}
.Proposals-featureItemIcon {
  font-size: 35px;
}
.Proposals-featureItem.is-disabled {
  opacity: 0.2;

  .Proposals-featureItemIcon {
    color: #777!important;
  }
  .Proposals-featureItemTitle {
    color: #777!important;
  }
}

@keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@keyframes fadeOutFromAll {
  0% {
    display: block;
    opacity: 1;
	}
	
	99% {
    display: block;
    opacity: 0;
  }

  100% {
    display: none;
  }
}

@media (max-width: 1060px) {
	.Home-banner {
    right: 60px;
    left: 60px;
  }
}

@media (max-width: 640px) {
	.slider, .slider-slide {
		height: auto;
		min-height: 400px;
	}
	.slider-control-centerleft,
	.slider-control-centerright {
		display: none;
	}
	.slider-control-bottomcenter ul {
		top: 0!important;
	}
	.slider-slide > img {
		position: absolute;
		width: auto!important;
		height: 100%!important;
		z-index: 0;
	}
	.Home-banner {
    right: 40px;
    bottom: 40px;
    left: 40px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.Home-proposal,
	.Home-proposal:first-child,
	.Home-proposal:last-child {
		width: auto;
		margin-top: 20px;
		border-radius: 4px;
		border-width: 1px;
	}
}

@media (max-width: 500px) {
  .EmbedVideo {
    bottom: 10px;
    right: 10px;
  }
  .EmbedVideo iframe {
    width: 260px;
    height: 130px;
  }
}