@import 'vars';

$border-color: #EEE;

// Members styles

.Members {
  position: relative;
}
.Members-map {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: 0;
}
.Members-content {
  position: relative;
  width: $mainSize + 40px;
  margin: 0 auto;
  z-index: 1;
}
.Members-list {
  width: 100%;
  max-width: $mainSize + 180px;
  margin: 100px auto 80px;
}
.Members-list--centered {
  justify-content: center;
}
.Members-list .l-box {
  margin: 10px;
}
.Members-item {
  position: relative;
  padding: 20px;
  background: white;
  box-shadow: 0 0 25px 1px rgba(black, 0.1);
  border-radius: 3px;
}
.Members-item.is-hidden {
  opacity: 0.7;
}
.Members-itemActions {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.Members-itemActions > * {
  width: 26px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  border-radius: 5px;

  &:hover {
    background: rgba(#000, 0.1)
  }
}
.Members-itemImage {
  position: relative;
  display: block;
  height: 140px;
  text-align: center;
}
.Members-itemImage img {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background: #EDEDED;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  z-index: 1;
}
.Members-itemImage:after {
  content: '';
  position: absolute;
  top: -19px;
  left: -19px;
  right: -19px;
  bottom: 50%;
  background: rgba($border-color, 0.45);
  border-radius: 3px 3px 0 0;
  z-index: 0;
}
.Members-itemInfo {
  display: block;
  text-align: center;
  padding: 0;
}
.Members-itemFooter {
  display: block;
  text-align: center;
  margin-top: 15px;
  padding-top: 10px;
}
.Members-itemTitle {
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
}
.Members-itemDesc {
  margin-top: 20px;
  font-size: 14px;
  font-family: 'Lato';
  line-height: 22px;
  color: #666666;
}
.Members-itemRole {
  margin-top: 3px;
  color: #AAA;
  text-transform: capitalize;
  font-size: 14px;
}
.Members-itemSocial {
  margin-left: 10px;
}
.Members-itemSocial--facebook:hover {
  color: #3B5998;
}
.Members-itemSocial--twitter:hover {
  color: #1DA1F3;
}
.Members-itemSocial--instagram:hover {
  color: #8a3ab9;
}