@import 'vars';

.Bkg {
  background: white;
}
.Bkg--light {
  background-color: #F2F6F9;
}
.Bkg--instagram {
  background:
    linear-gradient( #400080, transparent),
    linear-gradient( 200deg, #d047d1, #ff0000,    #ffff00);
}
.Bkg--others {
  background: #535765;
}
