@import 'vars';

// Member styles

.Banner {
  position: relative;
  overflow: hidden;
}
.Banner-logo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}
.Banner-image img {
  max-height: 600px;
}
.Banner-logo .instagram-logo {
  transform: scale(0.6);
  font-size: 80px;
}
.Banner-social {
  margin: 0 auto;
  padding: 70px 25px 0;
  max-width: 750px;
  width: 100%;
  min-width: 300px;
  box-sizing: border-box;
}
.Banner-info {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 375px;
  margin: 0 auto;
  padding: 40px;
  text-align: left;
  z-index: 1;
}

@media (max-width: 567px) {
  .Banner-logo {
    display: none;
  }
}