@import 'vars';

// Banner styles

.Banner {
  position: relative;
  width: 100%;
  min-height: 420px;
  text-align: left;
  overflow: hidden;
}
.Banner-wrapper {
  width: 120%;
}
.Banner-list {
  display: flex;
  justify-content: first;
}
.Banner-info {
  position: relative;
  width: auto;
  height: 420px;
  max-height: 420px;
  overflow: hidden;
}
.Banner-infoImage {
  width: auto;
  height: 420px;
}
.Banner-infoContent {
  position: absolute;
  bottom: 30px;
  left: 30px;
  width: 50%;
  z-index: 1;
}