@import 'vars';

// Buttons for actions!

.Button {
  display: inline-block;
  padding: 12px 36px;
  line-height: 15px;
  background: transparent;
  outline: none;
  font-size: 14px;
  font-family: 'Lato';
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 4px;

  &:hover,
  &:focus {
    cursor: pointer;
  }
}
.Button--light {
  background: #9B9B9B;
  color: white;

  &:hover,
  &:focus {
    background: #666;
  }
}
.Button.is-disabled {
  opacity: 0.5;
}