@import 'vars';

.Color {
  color: #666;
}
.Color--title {
  color: #333;
}
.Color--headerLink {
  color: #9B9B9B;
}
.Color--paragraph {
  color: #787878;
}
.Color--emphasis {
  color: $mainColor;
}
.Color--link {
  color: rgba($mainColor, 0.6);
  text-decoration: underline;
  &:hover {
    color: $mainColor;
  }
}