@import 'vars';

.Color {
  color: #666;
}
.Color--main {
  color: #333333;
}
.Color--secondary {
  color: #555555;
}
.Color--paragraph {
  color: #787878;
}
.Color--emphasis {
  color: $mainColor;
}
.Color--light {
  color: white;
}
.Color--link {
  color: rgba($mainColor, 0.75);
  text-decoration: underline;
  &:hover {
    color: $mainColor;
  }
}
.Color--linkSecondary {
  color: #AAA;
  text-decoration: none;
  &:hover {
    color: #555555;
  }
}