// Hello legal things :(

.Cookies-disclaimer {
  padding: 20px 0;
  background: rgba(black, 0.05);
  border-bottom: 1px solid #EFEFEF;
}
.Cookies-disclaimerInner {
  display: flex;
  justify-content: space-between;
}

.Cookie {
  padding: 50px 20px 100px;
}
.Cookie p {
  padding: 10px 0;
  line-height: 19px;
}
.Cookie li {
  padding: 3px 0;
}
.Cookie-table {
  margin: 50px 0;
  border: 1px solid #CCC;
  border-spacing: 0;
  border-collapse: collapse;
  vertical-align: middle;
  background: rgba(white, 0.5);
}

.Cookie-table th,
.Cookie-table td { padding: 6px 10px }

.Cookie-table th {
  vertical-align: middle;
  background: #666;
  border: 1px solid white;
  color: white;
  font-weight: 300;
  line-height: 22px;
}

.Cookie-table td {
  vertical-align: middle;
  min-width: 100px;
  padding: 10px;
  font-weight: 300;
  line-height: 22px;
  border: 1px solid #CCC;
}

@media (min-width: 0) and (max-width: 567px) {
  .Cookie-table th {}
  .Cookie-table td {
    min-width: inherit;
    padding: 5px;
  }
}