@import 'vars';

// Experiences styles

.Experiences {
  position: relative;
  width: 100%;
  height: 100%;
}
.Experiences-map {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: 0;
}
.Experiences-breadcrumb {
  position: absolute;
  bottom: 0;
}