
// Experience author styles

.Experience-author,
.Experience-authorLink {
  $shadow: rgba(#000, 0.6);
  display: flex;
  align-items: center;
  width: 100%;
  text-shadow: rgba(0, 0, 0, 0.6) 1px 0 1px, rgba(0, 0, 0, 0.6) -1px 0 1px, rgba(0, 0, 0, 0.6) 0 1px 1px, rgba(0, 0, 0, 0.6) 0 -1px 1px;
  color: #FFFFFF;
}
.Experience-authorLink--noShadow {
  text-shadow: none;
  color: #AAA;
}
.Experience-authorImage {
  height: 24px;
  width: 24px;
  border: 1px solid rgba(#000, 0.2);
  border-radius: 100%;
}
.Experience-authorImage--med {
  height: 40px;
  width: 40px;
}