@import 'vars';

// Experience styles

.Experience {
  position: relative;
  padding-bottom: 50px;
}
.Experience-wrapper {
  position: relative;
  height: 640px;
  background: #000000;
}
.Experience-image {
  position: absolute;
  width: 100%;
  height: 640px;
  overflow: hidden;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, rgba(#000, 0.7), rgba(#000, 0.2));
    z-index: 1;
  }
}
.Experience-imageItem {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: auto;
  transform: translateX(-50%) translateY(-50%);
}
.Experience-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  z-index: 10;
}

.Experience-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  height: 100%;
  padding-bottom: 50px;
}
.Experience-socialList {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.Experience-contentSameExperiencesList {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.Experience-photos {
  position: relative;
  width: 100%;
  min-height: 300px;
}
.Experience-photosLoader {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -15px;
  margin-top: -15px;
}

@media (max-width: 585px) and (orientation: portrait) {
  $height: 75vh;
  $minHeight: 400px;

  .Experience-wrapper,
  .Experience-image,
  .Experience-imageItem {
    height: $height;
    min-height: $minHeight;
  }
  .Experience-imageItem {
    width: auto;
  }
}

@media (max-width: 780px) and (orientation: landscape) {
  $height: 75vh;
  $minHeight: 400px;

  .Experience-wrapper,
  .Experience-image {
    height: $height;
    min-height: $minHeight;
  }
  .Experience-imageItem {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 585px) {
  .Experience-photos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  .Experience-photos .cell {
    left: auto!important;
  }
}

@media (max-width: 780px) {
  .Experience-content {
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
  }
  .Experience-contentSameExperiences {
    margin-top: 40px;
  }
  .Experience-contentSameExperiencesList {
    justify-content: flex-start;
  }
}

