@import 'vars';

// Experience styles

.Experience {
  position: relative;
  padding-bottom: 50px;
}
.Experience-map {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: 0;
}
.Experience-author,
.Experience-authorLink {
  display: flex;
  align-items: center;
}
.Experience-authorImage {
  height: 24px;
  margin: 0 7px;
}
.Experience-content {
  position: relative;
  width: $mainSize;
  margin: 0 auto;
  z-index: 1;
}
.Experience-info {
  display: flex;
  flex-direction: column;
  margin: 60px 0 30px;
}
.Experience-text > p {
  margin: 30px 0;
}
.Experience-videoWrapper {
  background: #000;
}
.Experience-videoWrapper iframe {
  width: 100%;
  height: 480px;
}
.Experience-photos {
  position: relative;
  width: 100%;
  min-height: 300px;
}
.Experience-photosLoader {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -15px;
  margin-top: -15px;
}
.Experience-other {
  background: #535765;
  box-shadow: inset 0 20px 10px rgba(#000, 0.05), inset 0 -20px 10px rgba(#000, 0.05);

  &:after {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 400%;
    height: 500%;
    background: url('/img/backpacks.png') repeat 0 0;
    transform: rotate(30deg);
    opacity: 0.3;
    z-index: 0;
  }
}
.Experience-otherList {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.Experience-otherLink {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
.Experience-otherAuthor {
  width: 60px;
  height: 60px;
  border-radius: 60px;
  border: 1px solid #DDD;
  box-shadow: 0 0 1px #333;
}
@media (max-width: $mainSize) {
  .Experience-videoWrapper iframe {
    width: 100%;
    height: 280px;
  }
}
