@import 'vars';

// Footer styles

.Footer {
  background: #333;
}
.Footer-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: $mainSize;
  margin: 0 auto;
  padding: 40px 0;
  text-align: center;
}
.Footer-navList {
  display: flex;
  justify-content: center;
  padding: 0 30px;
  list-style: none;
}
.Footer-navListItem {
  padding: 0 20px;
}
.Footer-navListItem--social {
  margin-right: 3px;
}