@import 'vars';

// Form for contact!

.Form {
  padding: 30px 0 80px;
}
.Form-field {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  margin: 20px 0;
}
.Form-label {
  width: 240px;
  padding: 12px 20px 0;
  font: bold 11px 'Lato';
  text-transform: uppercase;
  text-align: right;
}
.Form-select {
  width: 290px;
}
.Form-input {
  width: 290px;
  padding: 8px;
  font: normal 14px 'Lato';
  color: #444;
  border: 2px solid #999;
  border-radius: 4px;
  outline: none;
  background: rgba(white, 0.5);
  
  &:focus {
    border-color: #666;
  }
}
.Form-textarea {
  max-width: 290px;
  max-height: 200px;
  height: 120px;
}
.Form-submit {
  text-align: left;
}


@media (max-width: $mainSize) {
  .Form {
    padding: 30px 20px;
  }
  .Form-field {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .Form-label {
    width: 290px;
    padding: 10px 0 10px;
    text-align: left;
  }
}