@import 'vars';

.Header {
  position: relative;
  display: flex;
  max-width: $mainSize;
  height: 70px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}
.Header-child {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.Header-logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.Header-nav {
  display: block;
}
.Header-navList {
  display: flex;
  align-items: center;
  list-style: none;
}
.Header-navListItem {
  margin-left: 35px;
}