@import 'vars';

.Home {
}
.Home-content {
  max-width: 420px;
  padding-top: 100px;
  text-align: center;
}
.Home-logo {
  margin: 0;
  padding: 0;
  fill: $mainColor;
}
.Home-share {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}