@import 'vars';

$border-color: #EEE;

// Members styles

.Members {
  position: relative;
}
.Members-map {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: 0;
}
.Members-content {
  position: relative;
  width: $mainSize;
  margin: 0 auto;
  z-index: 1;
}
.Members-list {
  width: 100%;
  max-width: $mainSize + 180px;
  margin: 30px auto 80px;
}
.Members-list .l-box {
  margin: 20px;
}
.Members-item {
  padding: 20px;
}
.Members-item {
  position: relative;
  background: white;
  box-shadow: 0 0 25px 1px rgba(black, 0.1);
}
.Members-itemImage {
  position: relative;
  display: block;
  height: 140px;
  text-align: center;
}
.Members-itemImage img {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100px;
  height: 100px;
  z-index: 1;
}
.Members-itemImage:after {
  content: '';
  position: absolute;
  top: -19px;
  left: -19px;
  right: -19px;
  bottom: 50%;
  background: rgba($border-color, 0.45);
  z-index: 0;
}
.Members-itemInfo {
  display: block;
  text-align: left;
  padding: 0;
}
.Members-itemFooter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid $border-color;
  text-align: left;
  margin-top: 20px;
  padding-top: 10px;
}
.Members-itemTitle {
  font-weight: bold;
  font-family: 'Lato';
  text-transform: uppercase;
}
.Members-itemDesc {
  font-size: 14px;
  font-family: 'Lato';
  line-height: 22px;
  color: #666666;
}
.Members-itemRole {
  flex: 10;
  color: #999;
  text-transform: capitalize;
  font-size: 14px;
}
.Members-itemSocial {
  margin-left: 10px;
}
.Members-itemSocial--facebook:hover {
  color: #3B5998;
}
.Members-itemSocial--twitter:hover {
  color: #1DA1F3;
}
.Members-itemSocial--instagram:hover {
  color: #8a3ab9;
}