@import 'vars';

// Member styles

.Member-map {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: 0;
}
.Member-contentInner {
  width: 100%;
  max-width: 400px;
}
.Member-info {
  display: flex;
}
.Member-image {}
.Member-image img {
  width: 90px;
  height: 90px;
  border-radius: 90px;
  margin-right: 20px;
  background-size: 90px 90px;
}
.Member-desc {}
.Member-languages {
  display: flex;
  list-style: none;
}
.Member-language {
  margin-right: 6px;
}
.Member-text {
  margin-top: 250px;
}
.Member-text > p {
  margin: 20px 0;
}
.Member-instagram {
  position: relative;
  min-height: 300px;
}
.Member-instagram img {
  position: relative;
  background: rgba(black, 0.05);
  max-height: 600px;
  z-index: 2;
}
.Member-instagramLocation {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  background: rgba(black, 0.4);
}
.Member-instagramLoader {
  position: absolute;
  top: 50%;
  right: 50%;
  z-index: 0;
}

@media (max-width: $mainSize) {
  .Member-image img {
    width: 64px;
    height: 64px;
  }
}

@media all and (min-width: $mainSize) {
  .Member-instagram {
    display: flex;
    justify-content: flex-end;
  }
  .Member-instagramLocation {
    left: auto;
    right: 0;
  }
}