@import 'vars';

// Member styles

.Member {
  position: relative;
}
.Member-map {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: 0;
}
.Member-content {
  position: relative;
  width: $mainSize;
  margin: 0 auto;
  z-index: 1;
}
.Member-contentInner {
  width: 100%;
  max-width: 400px;
}
.Member-info {
  display: flex;
}
.Member-image {}
.Member-image img {
  width: 90px;
  height: 90px;
  margin-right: 20px;
  background-size: 90px 90px;
}
.Member-desc {}
.Member-languages {
  display: flex;
  list-style: none;
}
.Member-language {
  margin-right: 6px;
}
.Member-text {
  margin-top: 250px;
}
.Member-instagram {
  position: relative;
}
.Member-instagram img {}
.Member-instagramLocation {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  background: rgba(black, 0.4);
}