@import 'vars';

// Styles for default paragraphs

.Paragraph {
  position: relative;
  max-width: 400px;
}
.Paragraph--centered {
  max-width: 480px;
  margin: 60px auto;
  text-align: center;
}
.Paragraph--centeredBig {
  max-width: $mainSize;
  margin: 60px auto;
  text-align: center; 
}
.Paragraph--lefty {
  // Implicit
}

@media (max-width: $mainSize) {
  .Paragraph--centered,
  .Paragraph--centeredBig {
    margin: 20px auto;
  }
}