@import 'vars';

// Hello proposals!

.Proposals-header {
  position: relative;
  padding-bottom: 80px;
  background: linear-gradient(to bottom, rgba($mainColor, 1), rgba($mainColor, 0.9));
  overflow: hidden;
  
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: -webkit-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
    background-image: -moz-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
    background-image: -ms-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
    background-size: 3px 3px;
    z-index: 0;
  }
}
.Proposals-nav {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 0;
  background: rgba(#000, 0.10);
  z-index: 1;
}
.Proposals-navList {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.Proposals-navItem {
  padding: 20px 20px;
  border-top: 2px solid transparent;
}
.Proposals-navItemButton {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: rgba(#000, 0.3);
  outline: none;
}
.Proposals-navItemIcon {
  width: 45px;
  height: 45px;
  margin-right: 10px;
  fill: rgba(#000, 0.3);
}
.Proposals-navItem:hover,
.Proposals-navItem.is-selected {
  .Proposals-navItemIcon {
    fill: #FFF;
  }
  .Proposals-navItemButton {
    color: white;
  }
}
.Proposals-navItem.is-selected {
  border-top: 2px solid #FFF;
  &:hover {
    cursor: default;
  }
}

// Colors for features
.Proposals-featureColor--experience { color: #4D8683; }
.Proposals-featureColor--skype { color: #00ADEF; }
.Proposals-featureColor--expert { color: $mainColor }
.Proposals-featureColor--face2face { color: #B2665E; }
.Proposals-featureColor--customer { color: #415B76; }
.Proposals-featureColor--insurance { color: #E74C3C; }

.Proposals-features {
  position: relative;
  padding: 0 0 50px;
}

.Proposals-item {
  width: 100%;
  padding: 100px 0;
  background: rgba(#9B9B9B, 0.05);
  border-bottom: 1px solid rgba(#979797, 0.14);
  text-align: center;
}
.Proposals-itemList {
  list-style: none;
}
.Proposals-itemInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}
.Proposals-itemDesc {
  width: 70%;
}
.Proposals-itemPriceNumber {
  font-size: 50px;
  line-height: 50px;
  letter-spacing: -5px;
}

.Proposals-map {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}
.Proposals-featuresInfo {
  line-height: 22px;
}
.Proposals-featuresList {}
.Proposals-featuresList .l-box {
  margin: 8px;
}
.Proposals-featureItem {
  position: relative;
  padding: 40px;
  text-align: center;
  background: rgba(#F3F3F3, 0.6);
  border-radius: 2px;
  opacity: 1;
}
.Proposals-featureItem--noBkg {
  background: none;
}
.Proposals-featureItemIcon {
  font-size: 35px;
}
.Proposals-featureItem.is-disabled {
  opacity: 0.2;

  .Proposals-featureItemIcon {
    color: #777!important;
  }
  .Proposals-featureItemTitle {
    color: #777!important;
  }
}


@media (max-width: $mainSize) {
  .Proposals-navItem {
    padding: 10px 5px;
  }
  .Proposals-navItemIcon {
    width: 35px;
    height: 35px;
    margin: 0 auto 5px;
  }
  .Proposals-navItemButton {
    flex-direction: column;
    justify-content: center;
  }
}

@media (max-width: 680px) {
  .Proposals-itemDesc {
    width: 100%;
  }
  .Proposals-navItem {
    margin: 0 10px;
  }
}