@import 'vars';

// Hello text types!

.Text {
  font-family: 'Lato';
  font-weight: normal;
}
.Text--giant {
  font-size: 35px;
  line-height: 38px;
}
.Text--huge {
  font-size: 30px;
}
.Text--big {
  font-size: 22px;
}
.Text--large {
  font-size: 18px;
  line-height: 26px;
}
.Text--medLarge {
  font-size: 16px;
  line-height: 22px;
}
.Text--med {
  font-size: 14px;
}
.Text--small {
  font-size: 12px;
}
.Text--strong {
  font-weight: bold;
}
.Text--uppercase {
  text-transform: uppercase;
}
.Text--italic {
  font-style: italic;
}
.Text--withShadow {
  $shadow: rgba(#000, 0.6);
  text-shadow: $shadow 1px 0 1px, $shadow -1px 0 1px, $shadow 0 1px 1px, $shadow 0 -1px 1px;
}

@media (max-width: $mainSize) {
  .Text--giant {
    font-size: 28px;
    line-height: 32px;
  }
  .Text--huge {
    font-size: 24px;
  }
  .Text--big {
    font-size: 20px;
  }
  .Text--large {
    font-size: 15px;
    line-height: 20px;
  }
  .Text--med {
    font-size: 13px;
    line-height: 14px;
  }
  .Text--small {
    font-size: 11px;
  }
}