// Gimme utils, I'll use them

.u-hidden {
	display: none;
}
.u-tSpace {
	margin-top: 5px;
}
.u-tSpace--m {
	margin-top: 10px;
}
.u-tSpace--l {
	margin-top: 20px;
}
.u-tSpace--xl {
	margin-top: 30px;
}
.u-tSpace--xxl {
	margin-top: 40px;
}
.u-tSpace--xxxl {
	margin-top: 50px;
}
.u-rSpace {
	margin-right: 5px;
}
.u-rSpace--m {
	margin-right: 10px;
}
.u-rSpace--l {
	margin-right: 20px;
}
.u-rSpace--xl {
	margin-right: 30px;
}
.u-bSpace {
	margin-bottom: 5px;
}
.u-bSpace--m {
	margin-bottom: 10px;
}
.u-bSpace--l {
	margin-bottom: 20px;
}
.u-bSpace--xl {
	margin-bottom: 30px;
}
.u-bSpace--xxl {
	margin-bottom: 40px;
}
.u-lSpace {
	margin-left: 5px;
}
.u-lSpace--m {
	margin-left: 10px;
}
.u-lSpace--l {
	margin-left: 20px;
}
.u-lSpace--xl {
	margin-left: 30px;
}