---
translated_title: contact.title
translated_desc:  contact.desc

namespace:        contact
permalink:        /contacto/
permalink_en:     /contact/
---

<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="Canvas js-canvas">
      {% include cookies.html %}

      <div class="Block">
        <div class="LeafletMap" id="js-map"></div>

        {% include header.html %}

        <div class="Block-content Paragraph Paragraph--centered u-tSpace--xxl">
          <h2 class="Text Text--giant Text--strong Color--emphasis">{% t contact.subtitle %}</h2>
          <p class="Text Text--large Color--paragraph u-tSpace--l">{% t contact.desc %}</p>
        </div>

        <form class="Form Block-content js-form" method="POST" action="http://formspree.io/mochiling.es@gmail.com">
          <div class="Form-field">
            <label class="Form-label">{% t contact.form.name %}</label>
            <input type="text" class="Form-input js-name" name="name" placeholder="{% t contact.form.name %}" />
          </div>
          <div class="Form-field">
            <label class="Form-label">{% t contact.form.email %}</label>
            <input type="email" class="Form-input js-email" name="email" placeholder="{% t contact.form.email %}" />
          </div>
          <div class="Form-field">
            <label class="Form-label">{% t contact.form.proposal.title %}</label>
            <select class="Form-select js-proposal" name="proposal">
              <option value="0">{% t contact.form.proposal.none %}</option>
              <option value="1">{% t contact.form.proposal.explorer %}</option>
              <option value="2">{% t contact.form.proposal.boy-scout %}</option>
              <option value="3">{% t contact.form.proposal.voyager %}</option>
            </select>
          </div>
          <div class="Form-field">
            <label class="Form-label">{% t contact.form.desc %}</label>
            <textarea class="Form-input Form-textarea js-description" name="description" placeholder="{% t contact.form.desc %}"></textarea>
          </div>
          <div class="Form-field js-submitField">
            <label class="Form-label"></label>
            <button type="submit" class="Form-submit Button Button--action js-submit is-disabled">{% t contact.form.send %}</button>
          </div>
        </form>

        {% include social-breadcrumb.html %}
      </div>

      {% include last-experience.html %}
      {% include footer.html %}
    </div>
    {% include analytics.html %}

    <script type="text/javascript">
      var buttonStates = ' ' +
        '<% if (state === "idle") { %>' +
          '<button type="submit" class="Form-submit Button Button--action js-submit <%- isValid ? "" : "is-disabled" %>">{% t contact.form.send %}</button>' +
        '<% } else if (state === "loading") { %>' +
          '<button type="submit" class="Form-submit Button Button--action js-submit <%- isValid ? "" : "is-disabled" %>">' +
            '<i class="fa fa-circle-o-notch fa-spin Color--light u-rSpace--m"></i>' +
            '{% t contact.form.sending %}' +
          '</button>' +
        '<% } else if (state === "success") { %>' +
          '<button type="submit" class="Form-submit Button Button--success js-submit <%- isValid ? "" : "is-disabled" %>">' +
            '<i class="fa fa-check Color--light u-rSpace--m"></i>' +
            '{% t contact.form.sent %}' +
          '</button>' +
        '<% } else if (state === "error") { %>' +
          '<button type="submit" class="Form-submit Button Button--error js-submit <%- isValid ? "" : "is-disabled" %>">{% t contact.form.error %}</button>' +
        '<% } %>';
    </script>
    <script src="/js/contact.js"></script>
  </body>
</html>
