---
translated_title: contact.title

namespace:        contact
permalink:        /contacto/
permalink_en:     /contact/
---

<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="Canvas js-canvas">
      <div class="Block">
        <div class="Members-map" id="js-map"></div>

        {% include header.html %}

        <div class="Block-content Paragraph Paragraph--centered u-tSpace--xxl">
          <h2 class="Text Text--giant Text--strong Color--emphasis">{% t contact.subtitle %}</h2>
          <p class="Text Text--large Color--paragraph u-tSpace--l">{% t contact.desc %}</p>
        </div>

        <form class="Form Block-content js-form">
          <div class="Form-field">
            <label class="Form-label">{% t contact.form.name %}</label>
            <input type="text" class="Form-input" placeholder="{% t contact.form.name %}" />
          </div>
          <div class="Form-field">
            <label class="Form-label">{% t contact.form.email %}</label>
            <input type="email" class="Form-input" placeholder="{% t contact.form.email %}" />
          </div>
          <div class="Form-field">
            <label class="Form-label">{% t contact.form.proposal.title %}</label>
            <select class="Form-select js-select">
              <option>{% t contact.form.proposal.none %}</option>
              <option value="1">{% t contact.form.proposal.explorer %}</option>
              <option value="2">{% t contact.form.proposal.boy-scout %}</option>
              <option value="3">{% t contact.form.proposal.voyager %}</option>
            </select>
          </div>
          <div class="Form-field">
            <label class="Form-label">{% t contact.form.desc %}</label>
            <textarea class="Form-input Form-textarea" placeholder="{% t contact.form.desc %}"></textarea>
          </div>
          <div class="Form-field">
            <label class="Form-label"></label>
            <button type="submit" class="Form-submit Button Button--action is-disabled">{% t contact.form.send %}</button>
          </div>
        </form>

        {% include social-breadcrumb.html %}
      </div>

      {% include last-experience.html %}
      {% include footer.html %}
    </div>
    {% include analytics.html %}

    <script src="/js/contact.js"></script>
  </body>
</html>
