---
translated_title: cookies.title
translated_desc:  cookies.desc

namespace:        cookies
permalink:        /cookies/
permalink_en:     /cookies/
---

<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="Canvas js-canvas">
      <div class="Block">
        <div class="LeafletMap" id="js-map"></div>

        {% include header.html %}

        <div class="Block-content Paragraph Paragraph--centered u-tSpace--xxl">
          <h2 class="Text Text--giant Text--strong Color--emphasis">{% t cookies.subtitle %}</h2>
          <p class="Text Text--large Color--paragraph u-tSpace--l">{% t cookies.desc %}</p>
        </div>

        <div class="Block-content Cookie Text--med Color--secondary">
          {% tf cookies.html %}
        </div>

        {% include social-breadcrumb.html %}
      </div>

      {% include last-experience.html %}
      {% include footer.html %}
    </div>
    {% include analytics.html %}
    <script src="/js/cookies.js"></script>
  </body>
</html>
