---
translated_title: experiences.title

namespace:        experiences
permalink:        /experiencias/
permalink_en:     /experiences/
---

<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="Canvas js-canvas">
      <div class="Experiences Block">
        <div class="Experiences-map js-map"></div>
        {% include header.html %}

        <div class="Block-content Paragraph Paragraph--centered u-tSpace--xxl">
          <h2 class="Text Text--giant Text--strong Color--emphasis">{% t experiences.subtitle %}</h2>
          <p class="Text Text--large Color--paragraph u-tSpace--l">{% t experiences.desc %}</p>
        </div>

        <div class="Breadcrumb Experiences-breadcrumb u-tSpace--xxl">
          <ul class="Breadcrumb-inner">
            <li class="Breadcrumb-item u-rSpace--xl">
              {% t 'team.join' %} <a href="{% tl contact {{site.lang}} %}" class="Color--linkSecondary">{% t 'contact-us' %}</a>.
            </li>
          </ul>
        </div>
      </div>

      <div id="instafeed"></div>

      {% include last-experience.html %}
      {% include footer.html %}
    </div>
    {% include analytics.html %}

    <script src="/js/experiences.js"></script>
    <script>
      var experiences = [
        {% for place in site.data.experiences %}
          {
            title: '{% t experiences.{{place[0]}}.title %}',
            countries: ["{{ place[1].countries | join: '", "' }}"],
            date_start: "{{ place[1].date_start }}",
            date_end: "{{ place[1].date_end }}",
            link: '{% tl {{place[0]}} {{lang}} %}'
          }{% if forloop.last == false %},{% endif %}
        {% endfor %}
      ]
    </script>
  </body>
</html>
