---
translated_title: experiences.title
translated_desc:  experiences.desc

namespace:        experiences
permalink:        /experiencias/
permalink_en:     /experiences/
---

<!DOCTYPE html>
<html lang="{{ site.lang }}">
  {% include head.html %}
  <body>
    <div class="Canvas js-canvas">
      {% include cookies.html %}

      <div class="Experiences Block">
        <div class="Experiences-map js-map"></div>

        <div class="Experiences-mapMobile js-mapMobile">
          <button class="Experiences-mapMobileBack js-mapMobileBack">x</button>
          <div class="Experiences-mapMobileDisclaimer">
            <p class="Text Text--large">
              {% t experiences.navigate.map %}
            </p>
            <button class="Button Button--action u-tSpace--m js-navigate">{% t experiences.navigate.enable %}</button>
          </div>
        </div>

        {% include header.html %}

        <div class="Block-content Paragraph Paragraph--centered u-tSpace--xxl js-title">
          <h2 class="Text Text--giant Text--strong Color--emphasis">{% t experiences.subtitle %}</h2>
          <p class="Text Text--large Color--paragraph u-tSpace--l">{% t experiences.desc %}</p>
        </div>

        <div class="Breadcrumb Experiences-breadcrumb u-tSpace--xxl">
          <ul class="Breadcrumb-inner">
            <li class="Breadcrumb-item u-rSpace--xl">
              {% t 'team.join' %} <a href="{% tl contact {{site.lang}} %}" class="Color--linkSecondary">{% t 'contact-us' %}</a>.
            </li>
          </ul>
        </div>
      </div>

      <div id="instafeed"></div>

      {% include last-experience.html %}
      {% include footer.html %}
    </div>
    {% include analytics.html %}

    <script src="/js/experiences.js"></script>
    <script>
      var instagramConfig = {
        clientId: '{{ site.instagramConfig.clientId }}',
        accessToken: '{{ site.instagramConfig.accessToken }}'
      };
      var language = '{{ site.lang }}';
      var experiences = [
        {% for place in site.data.experiences %}
          {% assign title = place[1].title[site.lang] %}
          {% assign short_desc = place[1].short_desc[site.lang] %}
          {% assign author = place[1].author %}
          {
            title: '{{ title }}',
            image: '{{ place[1].image }}',
            countries: ["{{ place[1].countries | join: '", "' }}"],
            short_desc: "{{ short_desc }}",
            date_start: '{{ place[1].date_start }}',
            date_end: '{{ place[1].date_end }}',
            authorName: '{{ site.data.members[author].name }}',
            author: '{{ author }}',
            authorImage: '/img/members/{{ site.data.members[author].image }}',
            authorLink: '{% tl {{ author }} site.lang %}',
            link: '{% tl {{place[0]}} %}'
          }{% if forloop.last == false %},{% endif %}
        {% endfor %}
      ];
    </script>
  </body>
</html>
