---
translated_title: home.title

namespace: index
permalink: /
permalink_en: /
---

<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="Canvas js-canvas">
      <div class="Experiences Home Block">
        <div class="Experiences-map js-map"></div>
        
        <div class="Experiences-mapMobile js-mapMobile">
          <button class="Experiences-mapMobileBack js-mapMobileBack">x</button>
          <div class="Experiences-mapMobileDisclaimer">
            <p class="Text Text--large">
              {% t experiences.navigate.map %}
            </p>
            <button class="Button Button--action u-tSpace--m js-navigate">{% t experiences.navigate.enable %}</button>
          </div>
        </div>

        <div class="Block-content Home-content js-title">
          <h1 class="Home-logo">
            {% include logo.html width="260" height="58" %}
            <span class="Home-logoSub Text Text--strong Text--med Color--emphasis">{% t subtitle %}</span>
          </h1>
          <p class="Text Text--large Color--paragraph u-tSpace--l">{% t home.desc %}</p>
          <ul class="Home-share u-tSpace--m">
            {% for social in site.social %}
              <li>
                <a class="Color--paragraph Members-itemSocial Members-itemSocial--{{ social[0] }}" href="{{ social[1] }}" target="_blank">
                  <i class="fa fa-{{ social[0] }}" aria-hidden="true"></i>
                </a>
              </li>
            {% endfor %}

            {% for lang in site.languages %}
              {% unless site.lang == lang %}
                <li>
                  <a class="Color--paragraph Members-itemSocial" href="{% tl {{ page.namespace }} {{ lang }} %}">
                    <i class="fa fa-globe"></i>
                  </a>
                </li>
              {% endunless %}
            {% endfor %}
          </ul>
        </div>

      </div>
    </div>

    <div id="instafeed"></div>
    
    <script src="/js/home.js"></script>
    <script>
      var instagramConfig = {
        clientId: '{{ site.instagramConfig.clientId }}',
        accessToken: '{{ site.instagramConfig.accessToken }}'
      };
      var experiences = [
        {% for place in site.data.experiences %}
          {
            title: '{% t experiences.{{place[0]}}.title %}',
            image: '{{ place[1].image }}',
            countries: ["{{ place[1].countries | join: '", "' }}"],
            short_desc: "{% t experiences.{{place[1].short_desc}} %}",
            date_start: '{{ place[1].date_start }}',
            date_end: '{{ place[1].date_end }}',
            link: ''
          }{% if forloop.last == false %},{% endif %}
        {% endfor %}
      ];
    </script>
    {% include analytics.html %}
  </body>
</html>