---
translated_title: proposals.title
translated_desc:  proposals.desc

namespace:        proposals
permalink:        /propuestas/
permalink_en:     /proposals/
---

<!DOCTYPE html>
<html lang="{{ site.lang }}">
  {% include head.html %}
  <body>
    <div class="Canvas js-canvas">
      {% include cookies.html %}

      <div class="Block">
        <div class="Proposals-header">
          {% include header.html theme="light" %}

          <div class="Block-content Paragraph Paragraph--centered u-tSpace--xxl">
            <h2 class="Text Text--giant Text--strong Color--light">{% t proposals.subtitle %}</h2>
            <p class="Text Text--large Color--lightParagraph u-tSpace--l">{% t proposals.desc %}</p>
          </div>

          <nav class="Proposals-nav">
            <ul class="Block-content Proposals-navList">
              {% for proposal in site.data.proposals %}
                <li class="Proposals-navItem js-navItem js-navItem{{ forloop.index + 1 }}">
                  <a href="{% tl proposals %}#{{ forloop.index + 1 }}" class="Proposals-navItemButton">
                    <span class="Text Text--strong Text--medLarge Text--uppercase">{% t {{ proposal.title }} %}</span>
                  </a>
                </li>
              {% endfor %}
            </ul>
          </nav>
        </div>

        <div class="Proposals-features">
          <div class="Proposals-map" id="js-map"></div>

          <div class="Proposals-item">
            <div class="Proposals-itemInfo Block-content">
              <div class="Proposals-itemDesc">
                <p class="Text Text--large Color--secondary js-itemDesc">{% t proposals.items.1.desc %}</p>
                <a class="Button Button--main u-tSpace--l js-itemContactUrl" href="{% tl contact %}?prop=1">
                  {% t contact-us %}
                </a>
              </div>
              <div class="Proposals-itemPrice Text Color--secondary"></div>
            </div>
          </div>

          <div class=" Block-content">
            <div class="Proposals-featuresInfo Block-content Paragraph Paragraph--centered u-tSpace--xxl">
              <h4 class="Text--large Text--strong Text--uppercase Color--secondary">{% t proposals.features.title %}</h4>
            </div>

            <ul class="Proposals-featuresList u-bSpace--xxl pure-g">
              {% for feature in site.data.proposal-features %}
              <li class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-2 pure-u-lg-1-3">
                <div class="l-box">
                  <div class="Proposals-featureItem is-disabled js-feature js-feature-{{ feature.name }}">
                    <div class="{{ feature.color }} Proposals-featureItemIcon">
                      <fa class="fa {{ feature.icon }}">
                      </fa>
                    </div>
                    <h5 class="{{ feature.color }} Proposals-featureItemTitle Text Text--medLarge Text--strong Text--uppercase u-tSpace--m">{% t {{ feature.title }} %}</h5>
                    <p class="Proposals-featureItemDesc Text Text--medLarge u-tSpace--m Color">{% t {{ feature.desc }} %}</p>
                  </div>
                </div>
              </li>
              {% endfor %}
            </ul>
          </div>

          <div class="Block-content Paragraph Paragraph--centered u-tSpace--xxxl">
            <p class="Text Text--medLarge Color--paragraph u-tSpace--l">{% t proposals.disclaimer %} <a class="Color--link" href="{% tl experiences %}">{% t proposals.experiences %}</a>.</p>
          </div>
        </div>

        {% include social-breadcrumb.html %}
      </div>

      {% include last-experience.html %}
      {% include footer.html %}
    </div>
    {% include analytics.html %}

    <script type="text/javascript">
      var proposals = [
        {% for proposal in site.data.proposals %}
          {
            title: '{% t {{ proposal.title }} %}',
            desc: '{% t {{ proposal.desc }} %}',
            sub: '{% t {{ proposal.sub }} %}',
            features: ["{{ proposal.features | join: '", "' }}"]
          }{% if forloop.last == false %},{% endif %}
        {% endfor %}
      ];
    </script>
    <script src="/js/proposals.js"></script>
  </body>
</html>
