---
layout:           members
translated_title: team.title
translated_desc:  team.desc

namespace:        team
permalink:        /equipo/
permalink_en:     /team/
---

<div class="Paragraph Paragraph--centered u-tSpace--xxl">
  <h2 class="Text Text--giant Text--strong Color--emphasis">{% t team.subtitle %}</h2>
  <p class="Text Text--large Color--paragraph u-tSpace--l">{% t team.desc %}</p>
</div>

<ul class="Members-list Members-list--centered u-tSpace--xxl pure-g">
  {% include member-item.html member=site.data.members.victor key='victor' %}
</ul>

<ul class="Members-list u-tSpace--xxl pure-g">
  {% for member in site.data.members %}
    {% assign member_data = member[1] %}
    {% assign member_key = member[0] %}
    {% if member_key != 'victor' %}
      {% include member-item.html member=member_data key=member_key %}
    {% endif %}
  {% endfor %}
</ul>
