{% assign current_experience = site.data.experiences[include.experience] %}
{% assign experiences = '' %}

{% for experience in site.data.experiences %}
  {% if include.experience != experience[0] %}
    {% for country in experience[1].countries %}
      {% if current_experience.countries contains country %}
        {% assign experiences = experiences | append: experience[0] | append: ',' %}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endfor %}

{% assign experiences = experiences | split: ',' %}

{% if experiences.size > 0 %}
<div class="Breadcrumb">
  <ul class="Breadcrumb-inner">
    <li class="Breadcrumb-item u-rSpace--xl">
      {% t experiences.other-experiences.title %}
    </li>
  </ul>
</div>
<div class="Banner Bkg--others">
  <div class="Block-content Paragraph Paragraph--centered u-tSpace--xxl">
    <h4 class="Text Text--big Text--strong Color--lightParagraph">{% t experiences.other-experiences.desc %}</h4>
    <ul class="Experience-otherList u-tSpace--xl">
      {% for experience in experiences %}
        <li class="Experience-otherItem">
          {% assign author = site.data.experiences[experience].author %}
          {% assign author_data = site.data.members[author] %}
          {% assign title = site.data.experiences[experience].title[site.lang] %}
          <a href="{% tl experience %}" class="Experience-otherLink Color--light">
            <span class="Text Text--large Text--strong Text--uppercase Experience-otherTitle">{{title}}</span>
            <img src="/img/members/{{ author_data.image }}" class="Experience-otherAuthor u-tSpace" alt="{{ author_data.complete_name }}" title="{{ author_data.complete_name }}" />
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endif %}
