{% assign current_experience = site.data.experiences[include.experience] %}
{% assign experiences = '' %}

{% for experience in site.data.experiences %}
  {% if include.experience != experience[0] %}
    {% for country in experience[1].countries %}
      {% if current_experience.countries contains country %}
        {% assign experiences = experiences | append: experience[0] | append: ',' %}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endfor %}

{% assign experiences = experiences | split: ',' %}

{% if experiences.size > 0 %}
<div class="Experience-contentSameExperiences Color--light Text--withShadow">
  <h4 class="Text--small Text--uppercase">{% t experiences.other-experiences.title %}</h4>
  <ul class="Experience-contentSameExperiencesList u-tSpace--m">
    {% for experience in experiences %}
      <li>
        {% assign author = site.data.experiences[experience].author %}
        {% assign author_data = site.data.members[author] %}
        {% assign title = site.data.experiences[experience].title[site.lang] %}

        <a href="{% tl experience %}" class="Experience-authorLink Color--light js-tippy" data-theme="light" data-arrow="true" title="{{title}}">
          <img src="/img/members/{{ author_data.image }}" class="Experience-authorImage Experience-authorImage--med u-tSpace" alt="{{ author_data.complete_name }}" title="{{ author_data.complete_name }}" />
        </a>
      </li>
    {% endfor %}
  </ul>
</div>
{% endif %}
