<footer class="Footer">
  <div class="Footer-inner">
    <nav class="Footer-nav Footer-navigationLinks u-bSpace--l">
      <ul class="Footer-navList Text Text--med Text--strong Text--uppercase">
        <li class="Footer-navListItem">
          <a class="Color--linkSecondary" href="/">{% t home.title %}</a>
        </li>
        <li class="Footer-navListItem">
          <a class="Color--linkSecondary" href="{% tl concept %}">{% t proposals.title %}</a>
        </li>
        <li class="Footer-navListItem">
          <a class="Color--linkSecondary" href="{% tl experiences %}">{% t experiences.title %}</a>
        </li>
        <li class="Footer-navListItem">
          <a class="Color--linkSecondary" href="{% tl team %}">{% t team.title %}</a>
        </li>
        <li class="Footer-navListItem">
          <a class="Color--linkSecondary" href="{% tl contact %}">{% t contact.title %}</a>
        </li>
      </ul>
    </nav>
    <nav class="Footer-nav Footer">
      <ul class="Footer-navList">
        {% for social_network in site.social %}
          <li class="Footer-navListItem">
            <a href="{{ social_network[1] }}" class="Text Text--med Color--linkSecondary" target="_blank">
              <i class="fa fa-{{ social_network[0] }} Footer-navListItem--social"></i>
              {{ social_network[0] }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </nav>
    <p class="u-tSpace--m Text Text--small Color--paragraph">{{site.title}}.es · {{ site.time | date: '%Y' }} · {% t rights-reserved %}</p>
  </div>
</footer>