<footer class="Footer">
  <div class="Footer-inner">
    <p class="u-lSpace--xl Text Text--med Color--paragraph">© {{ site.time | date: '%Y' }} {{site.title | downcase}}.es</p>
    <nav class="Footer-nav">
      <ul class="Footer-navList">
        {% for social_network in site.social %}
          <li class="Footer-navListItem">
            <a href="{{ social_network[1] }}" class="Text Text--med Color--linkSecondary" target="_blank">
              <i class="fa fa-{{ social_network[0] }} fa-lg"></i>
            </a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</footer>
