<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>
    {% if page.translated_title %}
      {% t page.translated_title %} ·
    {% else %}
      {{ page.title }} ·
    {% endif %}{{ site.title }}</title>
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta name="distribution" content="Global">
  <meta name="author" content="xavijam">
  <meta name="detail" content="{{ site.title }}">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  
  <link rel="canonical" href="{{ site.url }}">
  <link href="/favicon.ico" rel="icon">

  <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
  <!-- build:css({app,.tmp}) /css/main.css -->
  <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/reset.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/default.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/utils.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/vendor/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/vendor/flag-icon.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/vendor/pure.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/vendor/instagram-logo.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/vendor/leaflet.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/vendor/leaflet-defaults.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/instagram-elements.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/text.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/blocks.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/paragraph-blocks.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/backgrounds.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/breadcrumb.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/colors.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/buttons.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/header.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/footer.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/banner.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/members.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/member.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/experience.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/experiences.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/home.css" rel="stylesheet" />
  <!-- endbuild -->
</head>