{% assign site_lang = site.lang | append: "/" %}
{% assign current_page = page.url | strip %}

<header class="Header {% if include.theme == 'light'  %} Header--light {% endif %}">
  <div class="Header-child">
    <h1>
      <a class="Header-logo" href="/">
        <span class="Header-logoObj u-rSpace--m">
          {% if include.theme == 'light'  %}
            {% include logo2.html width="130" height="28" %}
          {% else %}
            {% include logo.html width="130" height="28" %}
          {% endif %}
        </span>
        <span class="Header-logoSub Text Text--strong Text--small Color--emphasis">{% t subtitle %}</span>
      </a>
    </h1>
  </div>

  <div class="Header-child Header-subLinks">
    <nav class="Header-nav">
      <ul class="Header-navList Text Text--med Text--strong">
        {% capture proposals_url %}
          {% tl proposals {{ site.lang }} %}
        {% endcapture %}
        {% assign proposals_url_strip = proposals_url | strip | remove: site_lang %}

        {% capture proposals_selected_class %}
          {% if current_page contains proposals_url %}
            is-selected
          {% elsif proposals_url_strip contains current_page %}
            is-selected
          {% endif %}
        {% endcapture %}

        <li class="Header-navListItem">
          <a class="Header-navListItemLink {{ proposals_selected_class }} Color--linkSecondary" href="{% tl proposals %}">{% t proposals.title %}</a>
        </li>

        {% capture experiences_url %}
          {% tl experiences {{site.lang}} %}
        {% endcapture %}
        {% assign experiences_url_strip = experiences_url | strip | remove: site_lang %}

        {% capture experiences_selected_class %}
          {% if current_page contains experiences_url_strip %}
            is-selected
          {% elsif experiences_url_strip contains current_page %}
            is-selected
          {% endif %}
        {% endcapture %}
        <li class="Header-navListItem">
          <a class="Header-navListItemLink {{ experiences_selected_class }} Color--linkSecondary" href="{% tl experiences %}">{% t experiences.title %}</a>
        </li>
        
        {% capture team_url %}
          {% tl team {{site.lang}} %}
        {% endcapture %}
        {% assign team_url_strip = team_url | strip | remove: site_lang %}

        {% capture team_selected_class %}
          {% if current_page contains team_url_strip %}
            is-selected
          {% elsif team_url_strip contains current_page %}
            is-selected
          {% endif %}
        {% endcapture %}
        <li class="Header-navListItem">
          <a class="Header-navListItemLink {{ team_selected_class }} Color--linkSecondary" href="{% tl team %}">{% t team.title %}</a>
        </li>

        {% capture contact_url %}
          {% tl contact {{ site.lang }} %}
        {% endcapture %}
        {% assign contact_url_strip = contact_url | strip | remove: site_lang %}

        {% capture contact_selected_class %}
          {% if current_page contains contact_url %}
            is-selected
          {% elsif contact_url_strip contains current_page %}
            is-selected
          {% endif %}
        {% endcapture %}
        <li class="Header-navListItem">
          <a class="Header-navListItemLink {{ contact_selected_class }} Color--linkSecondary" href="{% tl contact %}">{% t contact.title %}</a>
        </li>

        {% for lang in site.languages %}
          {% unless site.lang == lang %}
            <li class="Header-navListItem">
              <a class="Color--linkSecondary" href="{% tl {{ page.namespace }} {{ lang }} %}">
                <i class="fa fa-globe fa-lg"></i>
                {{ lang }}
              </a>
            </li>
          {% endunless %}
        {% endfor %}
      </ul>
    </nav>
  </div>

  <div class="Header-child Header-hamburguer js-responsiveHeader">
    <i class="fa fa-bars fa-lg Color--linkSecondary"></i>
  </div>
</header>