{% if page.layout == 'experience' %}
  {% assign title = site.data.experiences[page.namespace].title[site.lang] | strip_html | strip_newlines %}
{% elsif page.layout == 'member' %}
  {% assign title = site.data.members[page.namespace].complete_name | strip_html | strip_newlines %}
{% elsif page.translated_title %}
  {% capture translated_title %}
    {% t page.translated_title %}
  {% endcapture %}
  {% assign title = translated_title | strip_html | strip_newlines %}
{% else page.title %}
  {% assign title = page.title | strip_html | strip_newlines %}
{% endif %}

{% if page.layout == 'experience' %}
  {% assign desc = site.data.experiences[page.namespace].short_desc[site.lang] | strip_html | strip_newlines %}
{% elsif page.layout == 'member' %}
  {% assign desc = site.data.members[page.namespace].short_desc[site.lang] | strip_html | strip_newlines %}
{% elsif page.translated_desc %}
  {% capture translated_desc %}
    {% t page.translated_desc %}
  {% endcapture %}
  {% assign desc = translated_desc | strip_html | strip_newlines %}
{% elsif page.description %}
  {% assign desc = page.description | strip_html | strip_newlines %}
{% else %}
  {% capture translated_desc %}
    {% t default-description %}
  {% endcapture %}
  {% assign desc = translated_desc | strip_html | strip_newlines %}
{% endif %}

{% assign url = site.url | append: page.url %}

{% if page.layout == 'experience' %}
  {% assign image = site.data.experiences[page.namespace].image %}
{% endif %}

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ title }} · {{ site.title }}</title>
  <meta name="description" content="{{ desc }}"/>
  <meta name="keywords" content="{{ site.keywords }}" />
  <meta name="distribution" content="Global">
  <meta name="author" content="{{ site.title }}">
  <meta name="detail" content="{{ site.title }}">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <meta name="google-site-verification" content="{{ site.google.site-verification }}" />

  <meta property="og:title" content="{{ site.title }}" />
  <meta property="og:site_name" content="{{ title }}" />
  <meta property="og:description" content="{{ title }} - {{ desc }}" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="{{ url }}" />
  <meta property="og:image" content="{{ image }}">
  <meta property="og:locale" content="{{ site.lang }}" />
  <meta property="article:publisher" content="{{ site.social.facebook }}" />

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="{{ site.social.twitter }}">
  <meta name="twitter:title" content="{{ title }}">
  <meta name="twitter:description" content="{{ desc }}">
  <meta name="twitter:image" content="{{ image }}">

  <link rel="canonical" href="{{ url }}">
  <link href="/favicon.ico" rel="icon">

  <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
  <!-- build:css({app,.tmp}) /css/main.css -->
  <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/reset.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/default.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/utils.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/vendor/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/vendor/flag-icon.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/vendor/pure.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/vendor/tippy.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/vendor/select2.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/vendor/leaflet.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/vendor/simplebar.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/vendor/leaflet-defaults.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/instagram-elements.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/experience-author.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/text.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/blocks.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/paragraph-blocks.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/backgrounds.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/breadcrumb.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/colors.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/buttons.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/cookies.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/header.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/footer.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/banner.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/members.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/member.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/experience.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/form.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/experiences.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/proposals.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/home.css" rel="stylesheet" />
  <!-- endbuild -->
</head>
