{% assign site_lang = site.lang | append: "/" %}
{% assign current_page = page.url | strip %}

<header class="Header">
  <div class="Header-child">
    <h1>
      <a class="Header-logo" href="/">
        <span class="Header-logoObj u-rSpace--m">{% include logo.html width="40px" height="41px" %}</span>
        <span class="Text Text--med Text--strong Text--uppercase Color--emphasis">{{ site.title }}.</span>
      </a>
    </h1>
  </div>

  <div class="Header-child">
    <nav class="Header-nav">
      <ul class="Header-navList Text Text--med Text--strong Text--uppercase">
        {% capture proposals %}{% tl proposals {{ site.lang }} %}{% endcapture %}
        <li class="Header-navListItem">
          <a class="Header-navListItemLink {% if page.url contains proposals %}is-selected{% endif %} Color--linkSecondary" href="{% tl proposals %}">{% t proposals.title %}</a>
        </li>

        {% capture experiences_url %}
          {% tl experiences {{site.lang}} %}
        {% endcapture %}
        {% assign experiences_url_strip = experiences_url | strip | remove: site_lang %}

        {% capture experiences_selected_class %}
          {% if current_page contains experiences_url_strip %}
            is-selected
          {% elsif experiences_url_strip contains current_page %}
            is-selected
          {% endif %}
        {% endcapture %}
        <li class="Header-navListItem">
          <a class="Header-navListItemLink {{ experiences_selected_class }} Color--linkSecondary" href="{% tl experiences %}">{% t experiences.title %}</a>
        </li>
        
        {% capture team_url %}
          {% tl team {{site.lang}} %}
        {% endcapture %}
        {% assign team_url_strip = team_url | strip | remove: site_lang %}

        {% capture team_selected_class %}
          {% if current_page contains team_url_strip %}
            is-selected
          {% elsif team_url_strip contains current_page %}
            is-selected
          {% endif %}
        {% endcapture %}
        <li class="Header-navListItem">
          <a class="Header-navListItemLink {{ team_selected_class }} Color--linkSecondary" href="{% tl team %}">{% t team.title %}</a>
        </li>

        {% capture contact_url %}{% tl contact {{ site.lang }} %}{% endcapture %}
        <li class="Header-navListItem">
          <a class="Header-navListItemLink {% if page.url == contact_url %}is-selected{% endif %} Color--linkSecondary" href="{% tl contact %}">{% t contact.title %}</a>
        </li>

        {% for lang in site.languages %}
          {% unless site.lang == lang %}
            <li class="Header-navListItem">
              <a class="Color--linkSecondary" href="{% tl {{ page.namespace }} {{ lang }} %}">
                <i class="fa fa-globe fa-lg"></i>
                {{ lang }}
              </a>
            </li>
          {% endunless %}
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>