<div class="pure-g Banner Bkg--light">
  <a class="pure-u-1-1 pure-u-sm-1-2 Banner-logo" href="http://instagr.am/{{username}}" target="_blank">
    <div class="instagram-logo"></div>
    <span class="Text Text--uppercase Text--med Text--strong Color--main">{{ username }}</span>
  </a>
  <div class="pure-u-1-1 pure-u-sm-1-2 Member-instagram js-instagramPhoto" id="instafeed">
    <i class="fa fa-circle-o-notch fa-2x fa-spin Color--emphasis Member-instagramLoader js-instagramLoader"></i>
  </div>
</div>