<div class="pure-g Banner">
  <div class="pure-u-1-2 Banner-image">
    <img src="/img/northen-france.png" class="pure-img" alt="Mochiling" title="Mochiling"/>
  </div>
  <div class="pure-u-1-2 Banner-info">
    <div class="Banner-infoContent">
      <h4 class="Text">{% t 'last-experience'%}</h4>
      <h3>Northern France</h3>
      <p>Nineteen incredible days discovering new places around the WWII in Normandy and Paris.</p>
      <a href="" class="Button Button--dark">{% t 'learn-more'%}</a>
    </div>
  </div>
</div>