<li class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-2 pure-u-lg-1-4">
  <div class="l-box">
    <div class="Members-item">
      <div class="Members-itemImage">
        <a href="{% tl {{include.key}} {{lang}} %}">
          <img class="pure-img" src="/img/members/{{ include.member.image }}" title="{{ include.member.complete_name }}" alt="{{ include.member.complete_name }}"/>
        </a>
      </div>
      <div class="Members-itemInfo">
        <h4 class="Members-itemTitle Text">
          <a href="{% tl {{include.key}} {{lang}} %}" class="Color--link">
            {{ include.member.complete_name }}
          </a>
        </h4>
        <p class="Members-itemRole Text Text--paragraph">{% t team.roles.{{ include.member.role }} %}</p>
        {% assign short_desc = include.member.short_desc[site.lang] %}
        <p class="Text Text--paragraph Members-itemDesc Color--dark u-tSpace--m">{{ short_desc }}.</p>
      </div>
      <nav class="Members-itemFooter">
        {% if include.member.facebook %}
          <a href="http://facebook.com/{{ include.member.facebook }}" class="Color--paragraph Members-itemSocial Members-itemSocial--facebook" target="_blank">
            <i class=" fa fa-facebook"></i>
          </a>
        {% endif %}

        {% if include.member.instagram %}
          <a href="http://instagr.am/{{ include.member.instagram }}" class="Color--paragraph Members-itemSocial Members-itemSocial--instagram" target="_blank">
            <i class=" fa fa-instagram"></i>
          </a>
        {% endif %}

        {% if include.member.twitter %}
          <a href="http://twitter.com/{{ include.member.twitter }}" class="Color--paragraph Members-itemSocial Members-itemSocial--twitter" target="_blank">
            <i class=" fa fa-twitter"></i>
          </a>
        {% endif %}
      </nav>
    </div>
  </div>
</li>