<div class="pure-g Banner">
  <div class="pure-u-1-2 Banner-info Banner-info--wider Bkg--twitter">
    <i class="fa fa-twitter Color--light"></i>
  </div>

  <div class="pure-u-1-2 Banner-info">
    <div class="Banner-infoContent">
      <h4 class="Text">{% t 'last-experience'%}</h4>
      <h3>Northern France</h3>
      <p>Nineteen incredible days discovering new places around the WWII in Normandy and Paris.</p>
      <a href="" class="Button Button--dark">{% t 'learn-more'%}</a>
    </div>
  </div>
</div>